@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,700&display=swap');
:root {
    --primary: #29e9bc;
    --normal: #ffffff;
    --black: #12131a;
    --bg: #0c1013;
    --danger: #f75842;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    --yellow: #f5ed0a ;
    --blue: #42f5c5;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
}

/* Universal Selector */

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline-offset: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    transition: all 0.5s linear;
    scroll-behavior: smooth;
}

/* custom scroll */

::-webkit-scrollbar{
     width: 10px;

}

::-webkit-scrollbar-track{
    background: var(--normal);
}

::-webkit-scrollbar-thumb{
    background: var(--black);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--danger);
}

body{
    line-height: 1.7;
    color: var(--normal);
    background-color: var(--normal);

}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,h2,h3,h4,h5{

    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--bg);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

/* button design */

.btn{
    display: inline-block;
    background-color: var(--yellow);
    color: var(--black);
    padding: 0.5rem 2rem;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    font-weight: 500;
}

.btn:hover{
    color: var(--primary);
    background-color: transparent;
    border-color: var(--bg);
}

.border_bottom{
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid var(--yellow);
    color: var(--yellow);
    margin-bottom: 2.5rem;
}

nav{
    background-color: var(--yellow);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav_container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav_container span{
    color: var(--normal);
}

.nav_container h4{
    font-size: 1.8rem;
}

.nav_container h4::first-letter{
    font-size: 2.5rem;
}

.nav_container h4:hover{
    color: var(--normal);
    transform: rotateX(360deg);
}

nav button{
    display: none;
}

.nav_menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav_menu a{
    font-size: 1rem;
}
.nav_menu a:hover{
    color: var(--normal);
    border-bottom: 3px solid var(--normal);
    padding-bottom: .8rem;
    background-color: var(--bg);
}
 p{
    padding-bottom: 1000px;
    color: var(--black);
 }

/* =======Header section start========*/

header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    margin-bottom: 2rem;
    background-color: var(--normal);
}

.header_container{
    display: flex;
    align-items: center;
    position: relative;
}

.header_left{
    flex: 1;
}

.header_right{
    flex: 1;
}

.header_right .text-1{
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
    color: var(--bg);
}

.header_right .text-2{
    font-size: 2.6rem;
    font-weight: 550;
    color: var(--bg);
}

.header_right .text-3{
    font-size: 2.5rem;
    margin: 0.3 0;
    color: var(--bg);
}

header::before{
    content: "";
    position: absolute;
    background-color: var(--normal);
    width: 100%;
    height: 5rem;
    bottom: 0;
    margin-bottom: -3.1rem;
    z-index: 99;
    transform: skewY(-3deg);
    transform-origin: left;
}

.header_right .typing{
    color: var(--blue);
    font-weight: 500;
}
/* =======Header section end========*/

/* =======About section start========*/

.about{
    text-align: center;

}

.about_container{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2.5rem;
}

.about_container .about-img{
    border: 4px solid var(--yellow);
    border-radius: 50%;
   
}

/* =======Header section end========*/